{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-2">
           <h1 style="text-align:left;"><span>{{hood.name}}</span></h1>
           <h3><span>Location: </span>{{hood.location}}</h3>
           {% if current_user.profile in occupants %}
           <ul>
                {% for occupant in occupants %}
                <li><a href="{% url 'profile' occupant.user.username%}">{{occupant.user.username}}</a></li>
                {% endfor %}     
           </ul>     
           {% endif %}
           <div class="add-post">
                <h3>Add Post</h3>
                 <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-default" value="Add Post">
                </form>
            </div>
            
        </div>
        <div class="col-md-7 middle">
            <div class="row">
                {% for post in posts %}
                <div class="post-card col-md-3">
                    <div class="post-body">
                        <h1>{{post.category}}</h1>
                        <p>{{post.post}}</p>
                        <p><span>{{post.user.first_name}} {{post.user.last_name}}</span></p>
                        
                    </div>
                </div>   
                {% endfor %}
                
            </div>
                 
        </div>
        <div class="col-md-3 business-col">
            <h3>Neighbourhood Places</h3>
            {% for business in businesses %}
            <div class="business-card">
                <div class="card-body">
                    <h3>{{business.name}}</h3> 
                    <h4>Owner: {{business.owner}}</h4> 
                    <p>Contact N0: {{business.phone}}</p>
                    <p>Email: {{business.email}}</p>
                    <p>Category: {{business.category.name}}</p>
                </div>
            </div>
            {% endfor %}
            <button class="btn btn-default add-busins-btn"><a href="">Add a business</a></button>
    
        </div>
    </div>
</div>
{% endblock  %}
