{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-image">
                            {% if user.profile.profile_pic %}
                            <img src="{{user.profile.profile_pic.cdn_url}}}" alt="profile-pic"> 
                            {% else %}
                            <img src="/static/images/defaultimg.jpeg" alt="profile-pic">
                            {% endif %}
                        </div>
                       
                    </div>
                    <div class="col-md-6 profile-body">
                        
                        {% if user.profile %}
                        <h1>{{user.profile.first_name}} {{user.profile.last_name}}  {% if user == current_user %}
                                <button class="btn btn-secondary"><a href="{% url 'edit_profile' %}"><img src="https://img.icons8.com/small/1zs6/000000/gear.png"></a></button>  
                                {% endif %}</h1>
                        <p><span>Phone No:</span> {{user.profile.contact_no}}</p>
                        <p><span>Email:</span> {{user.email}}</p>
                        <p><span>Neighbourhood:</span> {{user.profile.neighbourhood}}</p>
                        <p><span>Location:</span> {{user.profile.neighbourhood.location}}</p>                    
                        <p><span>Bio:</span> {{user.profile.bio}}</p>
                        {% else %}
                        <h1>{{user.username}} 
                            {% if user == current_user %}
                            <button class="btn btn-secondary"><a href="{% url 'edit_profile' %}"><img src="https://img.icons8.com/small/1zs6/000000/gear.png"></a></button>  
                            {% endif %}
                        </h1>
                        {% endif %} 

                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
   
</div>
{% endblock  %}