body{
    font-style: futura;
    background-color:#F5D6BA;
    /* font-size:20px; */
}
.help-block{
    display:none;
}
.navbar{
    background-color: #A40E4C;
}
.navbar a{
    color:#F5D6BA;
    font-size:20px;
    margin-top:8px;
    margin-left:5px;
}
.navbar li a:hover{
    background-color: #F49D6E;
}
.logo{
    color:#F5D6BA;
}
.signup-page, .signin-page{
    background-color: #A40E4C; 
    color:#F5D6BA;
    margin-top:20vh;
    
}
.business-btn{
    background-color: #A40E4C; 
    border-radius: 20px;
   
}
.business-btn a{
    font-size: 20px;
    color:#F5D6BA;
    text-decoration: none;
}
.business-btn a:hover{
    background-color: #F49D6E;
}
.occupants{
    list-style: none;
   

}
.occupants li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}
.occupants li a:hover{
    color:#A40E4C;
}
h1{
    text-align: center;
    font-size:30px;
}
.profile-body{
    margin:0 auto;
    font-size: 20px;
}
.profile-body h1{
    font-weight: bold;
    padding:0;
    text-align:left;
}
.search-results{
    font-size:20px;
    text-align:center;
}
.profile-image{
    margin:0 auto;
    text-align: right;
    margin-top:25px;
    overflow: hidden;
}
.profile-image img{
    width:300px;
    height:300px;
}
span{
    font-weight: bold;
}
.home, .home a{
   
    color:#A40E4C;
    text-decoration: none;
}
.home ul{
    list-style: none;
    font-size: 20px;
   
    margin-left:0;
}
.home a:hover{
    color:#2C2C54;
}
.business-card, .post-card, .amenity-card{
    margin:0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    margin-top:8px;

}
.amenity-card{
    width:80%;
}

h3{
    font-weight: bold;
}
.control-label{
    display:none;
}
#id_post, #id_category{
    border-radius:30px;
}
.middle{
    padding:10px;
    padding-left:12vh;
}
.post-card{
    width:300px;
    height:200px;
    background-color: #ACC3A6;
    margin-top:20px;
    margin-right:10px;
}
.business-card:hover,.post-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.card-body, .post-body{
    padding: 2px 16px;
}
.business-col{
    margin:0 auto;
    text-align: center;

}
.add-busins-btn{
    margin-top:10px;
}